@layer base {
  @font-face {
    font-family: 'Helvetica Narrow';
    src: url('./../fonts/helvetica-narrow_1-webfont.woff2') format('woff2'),
      url('./../fonts/helvetica-narrow_1-webfont.woff') format('woff'),
      url('./../fonts/helvetica-narrow_1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .h-text {
    @apply text-h-text-mobile font-h-narrow;
    -webkit-font-smoothing: antialiased;

    @media screen and (min-width: theme('screens.lg')) {
      @apply text-h-text;
    }
  }
}