@layer utilities {
  @variants responsive {
    
  }
}

html {
  font-size: 10px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  cursor: auto;
  overflow: hidden;

  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  button {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    box-shadow: none;
    outline: none;
    background: none;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
}

.upside-down {
  transform: rotate(180deg) translateY(-5px);
  display: inline-block;

  .device-mobile & {
    transform: rotate(180deg) translateY(-4px);
  }
}

.overline {
  // text-decoration: overline black;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0px;
    height: 2px;
    background-color: black;
    width: 100%;

    .device-mobile & {
      top: 3px;
    }
  }
}

main.main {
  @apply p-8;

  .device-mobile & {
    @apply p-6;
  }
}
