@layer utilities {
  @variants responsive {
    
  }
}

::selection {
  background: white;
}

::-moz-selection {
  background: white;
}

html {
  font-size: 10px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  cursor: auto;
  overflow: hidden;

  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  button {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    box-shadow: none;
    outline: none;
    background: none;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
}

.wcag-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
